<table>
  <tr>
    <th>
      <%= sortable 'name', "Name" %>
    </th>
    <th>
      <%= sortable 'media_type', 'Type' %>
    </th>
    <th>
      <%= sortable 'category', 'Category' %>
    </th>
    <th>
      <%= link_to "Hours binged", :sort => @binges %>
    </th>
  </tr>
  <% @shows.each do |show| %>
    <tr>
      <td>
        <%= show.name %>
      </td>
      <td>
        <%= show.media_type %>
      </td>
      <td>
        <%= show.category %>
      </td>
      <td>
        <%= total_binge_hours(show.binges) %>
      </td>
    </tr>
  <% end %>
</table>
