<!DOCTYPE html>
<html>
  <head>
    <title>Tracker</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="title">
    MyLazyPal
  </header>

  <body>
    <div class="wrapper">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= link_to 'Home', root_path %>
      <% if current_user %>
      <p>You are logged in as <%= current_user.username %></p>
      <%= link_to 'Log out', log_out_path %>
      <% else %>
      <%= link_to 'Create Account', new_user_path %>
      <%= link_to 'User Login', log_in_path %>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
  <footer class="main-footer"><span>&copy;2016 SG &amp; SP</span></footer>
</html>
