<!DOCTYPE html>
<html>
  <head>
    <title>Tracker</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="title">
    <%= link_to 'MyLazyPal', root_path %>
  </header>

  <body>
    <div class="wrapper">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <nav>
        <li><%= link_to 'Home', root_path %></li>
        <% if current_user %>
        <li class="inline-block">Welcome, lazy <strong><%= current_user.username %>!</strong></li>
        <li><%= link_to 'Log out', log_out_path %></li>
        <% else %>
        <li><%= link_to 'Create Account', new_user_path %></li>
        <li><%= link_to 'User Login', log_in_path %></li>
        <% end %>
      </nav>
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
  <footer class="main-footer"><span>&copy;2016 SG &amp; SP</span></footer>
</html>
